.settings/**
.mxproject

# https://github.com/github/gitignore/blob/master/C.gitignore

# Prerequisites
**.d
**.d

# Object files
**.o
**.o
**.ko
**.obj
**.elf

# Linker output
**.ilk
**.map
**.exp

# Precompiled Headers
**.gch
**.pch

# Libraries
**.lib
**.a
**.la
**.lo

# Shared objects (inc. Windows DLLs)
**.dll
**.so
**.so.*
**.dylib

# Executables
**.exe
**.out
**.app
**.i*86
**.x86_64
**.hex

# Debug files
**.dSYM/
**.su
**.su
**.idb
**.pdb

# Kernel Module Compile Results
**.mod*
**.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# cscope with Vim
cscope.*

#ctags with Vim
tags
types_c.taghl

#CtrlP
ctrlp.root
Debug/Core/Src/freertos.o

Debug/Core/Src/gpio.o

Debug/Core/Src/main.o

Debug/Core/Src/stm32f4xx_hal_msp.o

Debug/Core/Src/stm32f4xx_hal_timebase_tim.o

Debug/Core/Src/stm32f4xx_it.o

Debug/Core/Src/subdir.mk

Debug/Core/Src/syscalls.o

Debug/Core/Src/sysmem.o

Debug/Core/Src/system_stm32f4xx.o

Debug/Core/Src/usart.o

Debug/Core/Src/usb_otg.o

Debug/Core/Src/UserTask.o

Debug/makefile

Debug/objects.list

Debug/SatelliteF429.elf

Debug/SatelliteF429.list

Debug/SatelliteF429.map

.settings/language.settings.xml
